.mapboxgl-popup-close-button {
  background-color: chocolate;
  height: 18px;
  width: 18px;
}

.mapboxgl-popup-content {
  background-color: chocolate;
}

.mapboxgl-popup-content-wrapper {
  background-color: chocolate;
}

.mapboxgl-popup-tip {
  border-top-color: chocolate;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: chocolate;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: chocolate;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: chocolate;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: chocolate;
    }